.hogak-clip-slider {
    /* 241230 수정 */
    height: calc(100% + 1.4em);
    top: -0.7em;
    width: 100%;
}

/* 241227 추가 */
.clip-track-0,
.clip-track-2 {
    background-color: rgba(0,0,0,0.74);
    height: 100%;
}
.clip-track-1 {
    height: 100%;
    border: .3em solid #81EB47;
    border-radius: 0.4em;
    box-sizing: border-box;
    /* z-index: 2; 241230 삭제 */
}
.clip-thumb:focus-visible {
    outline: none;
}

.clip-thumb-0{
    border-radius: 0.4em 0 0 0.4em;
}
.clip-thumb-1{
    border-radius:  0 0.4em 0.4em 0;
}
.clip-thumb::after {
    width: 0.1em;
    height: 1.8em;
    position: absolute;
    content: '';
    background-color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}